:root {
  /* Custom colors */
  --melyna: #0b549b;
  --pilka: #d9d9d9;
  --balta: #fefefe;
  --whitesmoke: #d9d9d9;
  --juoda: #161415;
  --juoda-hover: #584d54;
  --pilka-slider: #dadada;
  --melyna-btn: #0b55a0;
  --melyna-btn-hover: #0a4988;
  --raudona-btn: #ec3237;
  --raudona-btn-hover: #c52b30;
  --pilka-input: #ece8e7;
  --pilka-input-focus: #e0c9c3;

  /* Fonts */
  --text-font: "Arial", "Helvetica", sans-serif;
  --heading-font: "Arial", "Helvetica", sans-serif;
  --button-font: "Arial", "Helvetica", sans-serif;
}

body {
  overflow-x: hidden;
}
/* Utility styles (if any) */
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-font {
  font-family: var(--text-font);
}

.heading-font {
  font-family: var(--heading-font);
}

.button-font {
  font-family: var(--button-font);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--juoda);
}

.ls-05 {
  letter-spacing: 0.05em;
}
.ls-1 {
  letter-spacing: 0.1em;
}
.ls-125 {
  letter-spacing: 0.125em;
}

.red-btn {
  background: var(--raudona-btn);
  color: var(--balta);
  transition: all 0.2s linear;
}
.red-btn:hover {
  transition: all 0.2s linear;
  color: var(--balta);
  background: var(--raudona-btn-hover);
}

.red-blue {
  background: var(--melyna-btn);
  color: var(--balta);
  transition: all 0.2s linear;
}
.red-blue:hover {
  background: var(--melyna-btn-hover);
  color: var(--balta);
  transition: all 0.2s linear;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--juoda);
  opacity: 0.4;
}

/* Header styles */

/* Top bar */
#top-bar {
  background: var(--melyna);
  padding: 7px 0;
}
.top-bar-kontaktai,
.projektai-kalba {
  gap: 30px;
}
.top-bar-kontaktai a,
.top-bar-kontaktai a:visited,
.projektai-kalba a,
.projektai-kalba a:visited {
  font-size: 13px;
  color: var(--balta);
  gap: 5px;
  transition: all 0.2s linear;
}

.top-bar-kontaktai a:hover,
.projektai-kalba a:hover {
  color: var(--pilka);
  transition: all 0.2s linear;
}
.projektai-kalba .kalbos-dropdown {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
}
.projektai-kalba .kalbos-dropdown a {
  color: var(--melyna);
}

.projektai-kalba .kalbos:hover .kalbos-dropdown {
  display: block;
}

/* Navigation */
.navbar-light .navbar-toggler {
  border-color: transparent !important;
  color: var(--juoda);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-collapse.collapse {
  width: 100%;
}
.navbar-toggler[aria-expanded="true"] .ham-menu-line:after {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}
.navbar-toggler[aria-expanded="true"] .ham-menu-line:before {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.2s linear;
}
.navbar-toggler[aria-expanded="true"] .ham-menu-line {
  background: var(--balta);
  transition: background 0.1s linear;
}
.ham-menu-line {
  height: 2px;
  width: 30px;
  background: var(--juoda);
  transition: all 0.2s linear;
}
.ham-menu-line:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  top: -7px;
  background: var(--juoda);
  transition: all 0.2s linear;
}
.ham-menu-line:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  left: 0;
  top: 7px;
  background: var(--juoda);
  transition: all 0.2s linear;
}
.navigation .dropdown-toggle::after {
  display: none;
}
.navigation a {
  color: var(--juoda) !important;
  font-weight: 600;
}
.navigation i {
  font-size: 10px;
  color: var(--raudona-btn);
}

/* Main */

/* Slider */
#main-page-slider {
  max-height: 620px;
  min-height: 500px;
}

#main-page-slider .carousel-indicators .active {
  color: var(--balta);
  opacity: 1;
}
#main-page-slider .carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
#main-page-slider .carousel-inner {
  max-height: 620px;
  min-height: 500px;
}

#main-page-slider .slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  min-height: 500px;
}

#main-page-slider .carousel-caption {
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 325px;
}

#main-page-slider .slider-heading {
  font-size: 32px;
}

/* Produktai section */

.produktai-section {
  background: var(--pilka-input);
}

.produktai-section .producto-card {
  min-height: 300px;
  background: var(--pilka);
  border-radius: 25px;
  overflow: hidden;
}
.produktai-section .el-pard-heading {
  max-width: 280px;
}

.produkto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Kontaktai section */

.kontaktai-section .form-wraper {
  box-shadow: 0 0px 8px rgba(100, 100, 100, 0.1);
  border-radius: 25px;
}
.kontaktai-section .form-wraper input,
.kontaktai-section .form-wraper textarea {
  background: var(--pilka-input);
  border: none;
}
.kontaktai-section .form-wraper input:focus,
.kontaktai-section .form-wraper textarea:focus {
  box-shadow: 0 0 0 0.25rem var(--pilka-input-focus);
}

/* Visoje lietuvoje section */

.visoje-lietuvoje-section {
  background: var(--pilka);
}

/* Patirtis section */

.patirtis-link {
  color: var(--juoda);
  transition: color 0.2s linear;
}
.patirtis-link:hover {
  color: var(--juoda-hover);
}

.main-banner-patirtis {
  min-height: 520px;
}
.main-banner-patirtis .overlay {
  z-index: 3;
  opacity: 0.7;
}
.main-banner-patirtis .garazo-vartai-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.main-banner-patirtis .col,
.main-banner-patirtis .patirtis-heading {
  z-index: 4;
  color: var(--balta);
}

.main-banner-patirtis .patirtis-skaicius {
  color: var(--balta);
  font-size: 58px;
}
.main-banner-patirtis .patirtis-txt {
  font-size: 26px;
}

.bottom-banner-patirtis {
  height: 30px;
  background: var(--melyna);
}
/* Media queries */

@media (max-width: 1200px) {
  .produktai-section .el-pard-heading,
  .meistras-heading,
  .patirtis-heading {
    font-size: 26px;
  }
  .main-banner-patirtis .patirtis-txt {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  #main-page-slider .slider-heading {
    font-size: 28px;
  }
  .produktai-section .el-pard-heading {
    max-width: 100%;
  }

  .produktai-section .el-pard-heading,
  .meistras-heading,
  .patirtis-heading {
    font-size: 24px;
  }
  .main-banner-patirtis .patirtis-txt {
    max-width: 220px;
  }
}

@media (max-width: 768px) {
  #main-page-slider .carousel-caption {
    max-width: 325px;
    width: 100%;
  }

  #main-page-slider .slider-heading {
    font-size: 24px;
  }
  .produktai-section .el-pard-heading,
  .meistras-heading,
  .patirtis-heading {
    font-size: 22px;
  }
  .main-banner-patirtis .patirtis-txt {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  /* Header */
  .top-bar-kontaktai,
  .projektai-kalba {
    gap: 10px;
  }

  #main-page-slider .slider-heading {
    font-size: 20px;
  }
  .slider-btn-text {
    font-size: 14px !important;
  }
  #main-page-slider .red-btn {
    max-width: 250px;
  }

  .produktai-section .el-pard-heading,
  .meistras-heading,
  .patirtis-heading {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  /* Header */
  .top-bar-wraper {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}
